data-augmentation-zero-shot/__pycache__/
data-augmentation-zero-shot/M4DataSet/
data-augmentation-zero-shot/temp/
data-augmentation-zero-shot/n_beats.pt
data-augmentation-zero-shot/.vscode
master-thesis/Code/__pycache__/
master-thesis/Code/.vscode
master-thesis/Code/.ipynb_checkpoints/
